@use "./base.scss";
@use "./themes";

// put your custom CSS here!

@font-face {
    font-family: "Tiempos";
    src: url("/static/tiempos-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}